* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../img/bg.jpg') ;
  background-size: contain;
  color: #ffe81f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  
}

.movie-wrapper {
  padding: 56px 16px;
  border-radius: 28px;
  border: 1px solid #202020;
  margin: 10px;
}
.movie-episode,
.movie-characters {
  margin: 15px 0;
}

.loader {
  background: url("../img/animation.gif");
  width: 200px;
  height: 150px;
  background-position: center;
  background-size: cover;
  display: none;
}
