.posts {
  margin-top: 66px;
  .post__title {
    h3 {
      @include text(16px, $fw-bold, 22px);
      text-transform: uppercase;
      color: $titleColor;
    }
  }
  .recent__posts {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    .post__item {
      display: flex;
      flex-direction: row;
      width: 47%;
  
      .post__content {
        margin-left: 20px;
        .post__header {
          @include text(16px, $fw-bold, 30px);
          color: $titleColor;
        }
        .post__info {
          @include text(12px, $fw-normal, 20px);
          color: $gray;
        }
        .text {
          @include text(14px, $fw-normal, 26px);
          color: $textColor;
          margin-top: 13px;
        }
      }
    }
  }
}


@media (max-width: 991px) {
  .posts {
    margin-top: 56px;
    .recent__posts {
      flex-direction: column;
      .post__item {
        width: 100%;
        .post__img {
          width: 33%;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .posts {
    margin-top: 38px;
    .post__title {
      font-size: 14px;
    }
    .recent__posts {
      row-gap: 28px;
      margin-top: 23px;
      .post__item {
        flex-direction: column;
        .post__img {
          width: 100%;
        }
        .post__content {
          margin-top: 11px;
          margin-left: 0;
        
          .post__header {
            font-size: 14px;
          }
          .post__info {
            font-size: 11px;
          }
          .text {
            display: none;
          }
        }
      }
    }
  }
}
