.shots {
  background-color: #e5e5e5;
  margin-top: 69px;
  padding-top: 47px;
  padding-bottom: 50px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 24px;
    .lastest-shots {
      @include text(16px, $fw-bold, 22px);
      color: $titleColor;
    }
    .lastest-shots--xs {
      display: none
    }
    .go-to-page {
      @include text(13px, $fw-bold, 22px);
      color: $titleColor;
    }
  }
  .instagram-shots {
    display: flex;
    align-items: center;
    gap: 10px;
    &__item {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 991px) {
  .shots {
    &__header {
      margin-bottom: 35px;
    }
    .instagram-shots {
      .instagram-shots__item {
        &:last-child {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .shots {
    background: rgba(0, 0, 0, 0.0001);
    padding-top: 39px;
    padding-bottom: 42px;
    &__header {
      margin-bottom: 13px;
      .lastest-shots {
        font-size: 14px;
        display: none;
      }
      .lastest-shots--xs {
        display: block;
      }
      .go-to-page {
        display: none;
      }
    }
    .instagram-shots {
      .instagram-shots__item {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .shots {
    &__header {
      margin-bottom: 13px;
    }
  }
}